button.dt-button,
div.dt-button,
a.dt-button,
input.dt-button {
  color: #17a2b8 !important;
  background: none !important;
  background-color: rgb(246 246 246) !important;
  font-size: 0.8em;
}
thead th:first-child {
  border-top-left-radius: 4px;
}

thead th:first-child {
  border-left: none;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

thead th:visible:last-child {
  border-right: none;
  border-top-right-radius: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
}

table {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

th:first-child {
  border-top-left-radius: 4px;
}

th:last-child {
  border-top-right-radius: 4px;
}

tbody {
  border-bottom-width: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

tbody {
  border-bottom: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

thead.subtable {
  background-color: #cbdede;
  /* border-radius: 5px; */
  /* border: none !important; */
  color: #181818;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_length label {
  color: #7b7b7b !important;
  font-size: 14px !important;
}

.dataTables_paginate {
  margin-top: 7px !important;
}
th.sorting {
  font-size: medium !important;
  color: #5b5b5b !important;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #ededed !important;
  color: #5d5d5d !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}

table.dataTable tbody tr {
  background-color: var(--bg-color-primary);
  color: var(--text-color);
}

table.dataTable tbody tr:hover {
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
}

table.dataTable tbody th,
table.dataTable tbody td {
  font-size: 0.97em !important;
  /* font-size: 1.11rem !important; */
  cursor: pointer !important;
  vertical-align: middle;
  padding: 15px 10px !important;
}

table.dataTable {
  /* border-collapse: collapse; */
}
.dataTables_wrapper .dataTables_filter input {
  font-size: medium !important;
  border-radius: 4px !important;
  border: 1px solid #aaaaaa5c !important;
  color: #7a777d !important;
  background-color: var(--bg-color-primary);
  outline: none;
}
.dataTables_wrapper .dataTables_filter {
  color: var(--text-color);
  margin-bottom: 5px;
}

table.dataTable thead th,
table.dataTable thead td {
  background-color: var(--bg-table-optional);
  /* border-bottom: 1px solid gray; */
  border-bottom: none;
  color: var(--text-color) !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control {
  padding-left: 32px !important;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  color: #b61414 !important;
  padding: 60px !important;
}

.dataTables_wrapper .dataTables_info {
  font-size: initial;
  color: var(--text-color);
}

button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled),
input.dt-button:active:not(.disabled),
input.dt-button.active:not(.disabled) {
  box-shadow: inset 1px 1px 3px #99999978 !important;
}

table.dataTable > tbody > tr.child {
  background-color: var(--bg-color-secondary);
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
  /* top: 30% !important; */
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 1.2em !important;
  width: 1.2em !important;
  color: #212529 !important;
  border: 0.1em solid #b3aad3 !important;
  border-radius: 1em;
  box-shadow: none !important;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "bootstrap-icons" !important;
  line-height: 1.3em !important;
  content: "\f282" !important;
  background-color: unset !important;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th.dtr-control:before {
  content: "\f286" !important;
  background-color: #f0a52c !important;
  border-color: #ababab !important;
}
button.dt-button.buttons-columnVisibility.active {
  background-color: #63996f !important;
  color: ghostwhite !important;
}
div.dt-button-collection {
  background-color: #343a40 !important;
  width: 260px !important;
}

button.dt-button.buttons-columnVisibility.active:hover {
  background-color: brown !important;
}
button.dt-button.buttons-columnVisibility:hover {
  background-color: #63996f !important;
  color: ghostwhite !important;
}

label {
  font-size: 1.09rem !important;
}

table tr > td > .edit-actions a {
  color: transparent !important;
  transition: ease-out 100ms;
  text-decoration: none;
}
table tr > td > .edit-actions .edit {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-actions .edit {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-actions .delete {
  color: transparent !important;
  transition: ease-out 100ms;
}

table tr:hover td > .edit-actions .delete {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr:hover td > .edit-actions .delete a {
  color: #dd6664 !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-actions .delete a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-actions a {
  color: var(--a-color) !important;
  transition: ease-in 100ms;
}

table tr > td > .edit-actions a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}

table tr > td > .edit-rates a {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr > td > .edit-rates .edit {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-rates .edit {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-rates .delete {
  color: transparent !important;
  transition: ease-out 100ms;
}

table tr:hover td > .edit-rates .delete {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr:hover td > .edit-rates .delete a {
  color: rgb(202, 33, 33) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-rates .delete a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-rates a {
  color: rgb(59, 122, 173) !important;
  transition: ease-in 100ms;
}

table tr > td > .edit-rates a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}

table tr > td > .edit-reservation a {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr > td > .edit-reservation .edit {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-reservation .edit {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-reservation .delete {
  color: transparent !important;
  transition: ease-out 100ms;
}

table tr:hover td > .edit-reservation .delete {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr:hover td > .edit-reservation .delete a {
  color: rgb(202, 33, 33) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-reservation .delete a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-reservation a {
  color: rgb(59, 122, 173) !important;
  transition: ease-in 100ms;
}

table tr > td > .edit-reservation a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}

table tr > td > .edit-offSeason a {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr > td > .edit-offSeason .edit {
  color: transparent !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-offSeason .edit {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-offSeason .delete {
  color: transparent !important;
  transition: ease-out 100ms;
}

table tr:hover td > .edit-offSeason .delete {
  color: rgb(24, 24, 24) !important;
  transition: ease-in 100ms;
}
table tr:hover td > .edit-offSeason .delete a {
  color: rgb(202, 33, 33) !important;
  transition: ease-in 100ms;
}
table tr > td > .edit-offSeason .delete a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}
table tr:hover td > .edit-offSeason a {
  color: rgb(59, 122, 173) !important;
  transition: ease-in 100ms;
}

table tr > td > .edit-offSeason a:hover {
  color: rgb(155, 155, 155) !important;
  transition: ease-out 100ms;
}

.user-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid rgb(66 66 66 / 23%);
  background-size: contain;
  background-color: #f1f1f1ba;
  background-origin: content-box;
  padding: 5px;
}

table#users_table {
  width: 99.5% !important;
}

div[id$="_paginate"] > span > a.paginate_button {
  background-color: none !important;
}

div[id$="_paginate"] > span > a.paginate_button.current {
  background: var(--bg-color-btn-primary) !important;
  background-color: none !important;
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--text-color-btn-primary) !important;
}
.dataTables_wrapper .dataTables_paginate a > .paginate_button:hover {
  text-decoration: underline !important;
  color: teal !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 2px 8px !important;
  border: none !important;
  cursor: pointer !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.enabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: var(--a-color) !important;
}

a.paginate_button:hover {
  background: #00808075 !important;
  /* background-color: teal !important; */
  border: none !important;
  /* padding: 0.5em 0.2em !important; */
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
  border-color: transparent;
  border-bottom-color: var(--bg-color-primary-faded);
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 0px;
}

.dataTables_wrapper .dataTables_length {
  margin: 5px 0px;
}

@media all and (max-width: 767px) {
  div.dt-button-collection {
    position: absolute !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    left: 5% !important;
  }
  table tr > td > .edit-actions a {
    color: rgb(59, 122, 173) !important;
    transition: ease-out 100ms;
  }
  table tr td > .edit-actions .delete {
    color: rgb(24, 24, 24) !important;
    transition: ease-in 100ms;
  }
  table tr td > .edit-actions .edit {
    color: rgb(24, 24, 24) !important;
    transition: ease-in 100ms;
  }
  .form-group {
    width: auto;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    /* float: unset !important; */
    text-align: right !important;
  }

  .dataTables_wrapper .dataTables_length {
    float: left !important;
  }
}
