nav.navbar {
  /* box-shadow: 0px 3px 6px #e0e0e0; */
  padding: 10px 20px;
  /* border-bottom: 1px solid gainsboro; */
  z-index: 1000;
  background-color: var(--bg-base) !important;
}

ul.navbar-nav.ms-auto.navbar-nav-scroll {
  justify-content: end;
  align-items: center;
}

nav .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-base-gray) !important;
  line-height: 1.5em;
}

.top-header {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 40px;
  position: relative;
  flex-wrap: wrap;
}

.top-header a {
  text-decoration: none;
  color: white !important;
  font-size: 0.9em !important;
}

.bg-trans {
  background-color: transparent !important;
}

.bgb {
  background-color: var(--bg-base) !important;
}

.bgs {
  background-color: var(--bg-secondary) !important;
}

.bgt {
  background-color: var(--bg-optional) !important;
}

.cb {
  color: var(--bg-base) !important;
}

.cs {
  color: #9fb4b4 !important;
  /* color: #9f96e1 !important; */
  /* color: var(--bg-secondary) !important; */
}

.ct {
  color: var(--bg-optional) !important;
}

.btn-active {
  text-decoration: underline;
}

.switch {
  position: absolute;
  left: 0px;
  top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.mbase {
  margin-bottom: 80px;
}

.btn-main {
  border: 1px solid #fee7dd;
  background-color: #fee7dd;
  color: var(--text-color) !important;
  text-align: center;
  letter-spacing: -0.03em;
  border-radius: 8px;
  padding: 13px 30px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
  transition: all 0.3s;
  display: inline-block;
}

.btn-main:hover {
  background-color: #ffffff;
}

a.btn-main {
  text-decoration: none !important;
  color: var(--text-color) !important;
}

.btn-main a {
  text-decoration: none !important;
  color: var(--text-color) !important;
}

.btn-main.btn-sec {
  /* background-color: #d5d0fa; */
  /* background-color: #d0dede; */
  background-color: #dfeaea;
  /* border-color: #d5d0fa; */
  border-color: #dfeaea;
}

.btn-main.btn-sec:hover {
  background-color: #ffffff !important;
}

button.btn.btn-outline-secondary {
  font-size: 11px;
  padding: 4px;
  height: 60px;
  font-weight: 600;
  transition: all ease 0.3s;
  flex: 1;
  /* width: 60px; */
}

div#dateNav {
  width: 100%;
}

button.btn.btn-outline-secondary.active {
  transition: all ease 0.3s;
  background-color: #fee7dd;
  color: var(--text-color);
  font-weight: 600;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
  opacity: 0.8;
}

.input[type="radio"]:focus {
  outline: 0 !important;
  box-shadow: none !important;
  opacity: 0.8;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
  opacity: 0.8;
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
  opacity: 0.8;
}

button.btn-success {
  font-size: 15px;
}

@media all and (max-width: 767px) {
  button.btn.btn-outline-secondary {
    width: 50px;
  }
}

.btn-main-lg {
  height: 50px;
  min-width: 110px;
}

.socialFooter {
  font-size: 20px;
  transition: all ease 0.3s;
}

.socialFooter {
  font-size: 24px;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #fee7dd;
}

.socialFooter:hover {
  background-color: white;
}

#language ul.dropdown-menu.show {
  z-index: 9999;
  position: absolute;
  flex: none !important;
  min-width: auto;
}

a#languageDropdown {
  /* border: 1px solid gainsboro; */
  padding: 3px 5px;
  border-radius: 5px;
  text-decoration: none !important;
  /* background-color: ghostwhite; */
  color: #1e306e !important;
}

footer a {
  text-decoration: none !important;
}

footer li {
  margin: 4px 0px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
}

.font-xs {
  font-size: 11px !important;
}
.font-sm {
  font-size: 14px !important;
}
.font-md {
  font-size: 17px !important;
}
.font-lg {
  font-size: 20px !important;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #e9ecef;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 20px;
  position: relative;
  width: 50%;
}

/* Desktop Layout Adjustments */
.timeline-item:nth-child(odd) {
  left: 50%;
}

.timeline-item:nth-child(even) {
  left: 0;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-base-red);
  top: 15px;
  z-index: 1;
}

.timeline-item:nth-child(even)::after {
  right: -10px;
}

.timeline-item:nth-child(odd)::after {
  left: -10px;
}

.timeline-content {
  animation: fadeInUp 0.5s ease;
  background-color: white;
}

.hero-sec {
  /* height: 100vh; */
  background-color: var(--bg-base);
}

.hero-wrapper {
  position: relative;
  height: 100%;
  padding: 0px 0px 60px 0px;
}

.row.hero-content {
  /* height: 100%; */
  justify-content: start;
  align-items: center;
  margin: 0px;
  margin-top: 75px;
}

.herobg {
  background-image: url(/assets/images/edietbg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 530px;
  width: 100%;
}

.mtitle {
  color: #5e463c;
  letter-spacing: -0.05em;
  margin-top: 10px;
  font-family: "EB Garamond", sans-serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.mstitle {
  color: #5e463c;
  letter-spacing: -0.05em;
  margin-top: 10px;
  font-family: "EB Garamond", sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.1em;
}

.stitle {
  color: var(--text-color);
  letter-spacing: -0.03em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5em;
}

.sstitle {
  color: var(--text-color);
  letter-spacing: -0.03em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
}

.mainp {
  color: var(--text-color);
  letter-spacing: -0.03em;
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}

.servicesCard {
  /* background-color: #fcf0ec; */
  background-color: #ffffffba;
  margin-bottom: 15px;
  min-height: 250px;
  border: 1px solid gainsboro;
  border-radius: 25px;
}

.lbg {
  background-image: url(/assets/images/logo/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background-position: center;
}

.cardBody {
  padding: 30px;
}

.cardIcon i {
  font-size: 35px;
  background-color: white;
  padding: 10px 13px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  color: #9fb4b4;
}

.cardIcon {
  margin-bottom: 15px;
}

#tagsSlider .slick-track {
  display: flex;
  gap: 5px;
}

.tagItem i {
  color: #9fb4b4;
}

.bg-base {
  background-color: var(--bg-base) !important;
}

.text-primary {
  color: #407d7d !important;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: #a9d099;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 1000;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top i {
  font-size: 18px;
}

.back-to-top:hover {
  background: #c1e1c1;
}

.full-screen-menu .navbar-nav {
  justify-content: center;
  align-items: center;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media all and (max-width: 992px) {
}

@media all and (max-width: 767px) {
  .top-header {
    padding: 10px 10px;
  }

  .row.hero-content {
    margin-top: 125px;
    gap: 15px;
  }
  .mstitle {
    font-size: 27px;
  }
  .navbar.navbar-expand-lg.sticky-top {
    position: fixed;
    width: 100%;
  }
}
